*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(102, 94, 94);
}
 header h1{
    color: rgb(247, 72, 9);
    margin-right: 20px;
    margin-top: 20px;
    margin-left: 20px;
    font-weight: bold;
}
 
.nav ul{
    display: flex;
    list-style-type: none;
    position: relative;
    left: 300px;
    bottom: 25px;
    
} 

a{
    list-style-type: none;
    text-decoration: none;
    color: white;
}
a:hover{
    color: aqua;
}

.nav li{
    margin-right: 25px;
}

input[type="text"]{
    position: absolute;
    top: 0;
    right: 0;margin-right: 350px;
    margin-top: 20px;
    padding: 5px;
    padding-right: 20px;
    border: 2px solid rgb(247, 72, 9);
}
::placeholder{
    color: white;
}
input[type="button"]{
    position: relative;
    bottom: 55px;
    /* bottom: 97px; */
    left: 935px;
    margin-right: 350px;
    padding: 7px;
    border: 0;
    color: white;
    background-color: rgb(247, 72, 9);
}
    
header{
    margin-left: 30px;
}
 
#section{
    line-height: 1.5;
    color: white;

}
#section h1{
    color: white;
    font-size: 30px;
    margin-top: 90px;
}
#section h1 span{
    color: rgb(247, 72, 9);
    font-size: 35px;
    font-family: monospace;
}

.section{
    margin-left: 40px;
}
footer{
    margin-top: 10px; 
}
footer button{
    background-color: rgb(247, 72, 9);
    padding: 5px 10px;
    margin-bottom: 10px;
}
.box{
    border: 2px solid;
    width: 20%;
    height: 330px;
    background-color: rgb(14, 12, 12);
    text-align: center;
    position: relative;
    left: 700px;
    bottom: 300px;
    
    
}
h3{
    border: 2px solid white;
    background-color: white;
    color: rgb(247, 72, 9);
    margin-top: 25px;
    width: 150px;
    margin-left: 60px;
}
.box p{
    border-bottom: 2px solid rgb(247, 72, 9);
    color: white;
    margin-top: 20px;
    background-color: rgb(14, 12, 12);
    width: 170px;
    margin-left: 60px;

}
.box button{
    background-color: rgb(247, 72, 9);
    padding: 5px 60px;
    margin-top: 20px;
    
}
h4{
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgb(14, 12, 12);
}
h4 span{
    color: rgb(247, 72, 9);
    font-size: 15px;
    background-color: rgb(14, 12, 12);
}
h5{
    color: white;
    background-color: rgb(14, 12, 12);
}




    



   



